.chat {
  display: flex;
}

.chat-div {
  position: relative;
  width: 70%;
}

.chat-header {
  background-color: #20392e;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 2px;
}

.chat-header:hover {
  background-color: #1e352b;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-weight: bold;
}

.header-container img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid white;
}

.header-container p {
  font-size: 23px;
}

.inputs-header-div {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
}

.inputs-header-div input {
  width: 80%;
  padding: 15px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  background-color: #d9d9d9;
}

.emoji-picker-button {
  border: none;
  color: #b7b597;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.emoji-picker-button:hover {
  transform: scale(1.1);
}

.chat-send-button {
  background-color: #b7b597;
  border: 3px solid #dad3be;
  color: white;
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;
}

.emoji-div {
  display: flex;
  align-items: center;
  position: relative;
}

.picker {
  position: absolute;
  bottom: 60px;
  right: 50px;
}

.main-chat {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-bottom: 50px; */
}

.all-messages-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.my-message-div {
  display: flex;
  justify-content: flex-end;
}

.other-message-div {
  display: flex;
  justify-content: flex-start;
}

.message-content {
  display: flex;
  gap: 10px;
  max-width: 60%;
}

.my-message-div .message-content {
  flex-direction: row-reverse;
  background-color: #dad3be;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.other-message-div .message-content {
  background-color: #b7b597;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.my-message-div img,
.other-message-div img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.my-message-p {
  margin: 0;
}

.all-messages-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 10px;
}
