.chat {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar-div {
  flex: 1;
  background-color: #5b7668;
  transition: height 0.3s ease;
  overflow-y: auto;
}

.sidebar-div.extended {
  height: auto;
}

.main-div {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #20392e;
  color: #dcdcdc;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #20392e;
  box-shadow: 0 2px 5px -2px black;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-img-div img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
}

.header-username-div p {
  margin-left: 10px;
}

.main-chat {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.all-messages-div {
  display: flex;
  flex-direction: column;
}

.my-message-div,
.other-message-div {
  display: flex;
  margin-bottom: 10px;
}

.my-message-div {
  justify-content: flex-end;
}

.other-message-div {
  justify-content: flex-start;
}

.message-content {
  display: flex;
  align-items: center;
  background-color: #b7b597;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  gap: 10px;
}

.my-message-p,
.message-content p {
  margin: 0;
  color: #dcdcdc;
}

.my-message-p {
  margin-right: 10px;
}

.message-content img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.inputs-header-div {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #20392e;
}

.inputs-header-div input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b7b597;
  color: white;
  font-size: 15px;
}

.inputs-header-div input::placeholder {
  color: white;
}

.chat-send-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #b7b597;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.emoji-div {
  position: relative;
  margin-left: 10px;
}

.emoji-picker-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #dcdcdc;
  font-size: 20px;
}

.picker {
  position: absolute;
  bottom: 40px;
  right: 0;
}

.time-delete-div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.delete-message {
  background-color: transparent;
  border: none;
}

.delete-message img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-message img:hover {
  transform: scale(1.2);
}
