.profile {
  display: flex;
}

.profile-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 0px;
  overflow-y: auto;
}

.pfp-profile {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 3px solid white;
  overflow: hidden; /* Ensures that the overflow is hidden */
}

.pfp-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.username-profile {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

.friends-groups-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.friends-groups-container div {
  color: white;
}

.friends-groups-container div h6 {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
}

.friends-groups-container div p {
  font-weight: 100;
  margin-top: 10px;
  font-size: 25px;
}

.profile-buttons {
  margin-top: 20px;
  width: 50%;
}

.profile-buttons button {
  background-color: #b7b597;
  border: 3px solid #dad3be;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;
}

.edit-signout-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.profile-info-div {
  margin-top: 50px;
  color: white;
  width: 50%;
  background-color: #1e382c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #172a21;
}

.friend-requests-p,
.bio-p {
  font-weight: bold;
  font-size: 25px;
  text-align: start;
}

.friend-request-div {
  margin-top: 50px;
}

.bio-text {
  margin: 15px 10px;
  font-size: 19px;
  text-align: start;
  color: #d9d9d9;
}

.ydhafr {
  color: #d9d9d9;
  margin: 20px 0px;
  font-size: 20px;
}

.follower-div {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b7b597;
  margin-top: 10px;
  border-radius: 20px;
  border: 3px solid #dad3be;
  cursor: pointer;
}

.follower-div div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.follower-div img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid white;
}

.follower-div p {
  font-size: 20px;
  font-weight: bold;
}

.follower-div button {
  background-color: #dad3be;
  border: none;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;
}

.follower-div button:hover {
  background-color: transparent;
}

.my-statuses {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.my-status-h2-div {
  display: flex;
  justify-content: start;
  width: 50%;
}

.my-statuses-list {
  margin-top: 30px;
  width: 60%;
}

.pfp-username-status {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .profile {
    display: block;
  }

  .profile-div {
    padding: 20px 0px;
  }
}
