.sidebar {
  min-height: 100%;
  background-image: linear-gradient(to bottom, #6b8a7a, #5b7668);
  text-align: center;
}

.sidebar .pfp-username img {
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

.pfp-image {
  border-radius: 100%;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.pfp-image:hover {
  transform: scale(0.98);
  box-shadow: 0px 0px 10px;
}

.username-p {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-input {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 80%;
}

.search-input:hover {
  cursor: default;
  background-color: #d9d9d9;
}

.to-chat {
  text-align: start;
  margin-top: 50px;
  padding: 0px 20px;
}

.to-chat-p {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.uhnaaf {
  color: #d9d9d9;
  font-size: 18px;
  margin-top: 15px;
}

.groups-div {
  margin-top: 30px;
}

.back-to-home-div {
  display: flex;
  justify-content: start;
}

.back-to-home {
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
  margin-top: 50px;
  text-align: start;
  margin-left: 20px;
}

.friend-div {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #b7b597;
  margin-top: 10px;
  border-radius: 20px;
  border: 3px solid #dad3be;
  cursor: pointer;
  gap: 10px;
}

.friend-div img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #dad3da;
}

.friend-div p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.groups-div {
  padding-bottom: 50px;
}

.search-result-div {
  background-color: #b7b597;
  border: 1px solid #dad3be;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 70%;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}

.groups-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.groups-header button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #b7b597;
  border: 2px solid #dad3be;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.groups-header button:hover {
  background-color: #a7a58a;
}

.up-create-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.up-create-div button {
  background-color: transparent;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.up-create-div button:hover {
  background-color: #b7b597;
  border-radius: 10px;
}

.suggested-friends-div {
  margin-top: 10px;
}

.suggested-friends-div div div,
.searched-friend {
  display: flex;
  padding: 10px;
  background-color: #b7b597;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

.suggested-friends-div div div button,
.searched-friend button {
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.suggested-friends-div div div button:hover,
.searched-friend button:hover {
  background-color: #a7a58a;
  border-radius: 10px;
}

.create-group-div {
  background-color: #5b7668;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.create-group-input {
  font-size: 15px;
}

.name-input {
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.group-div {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #b7b597;
  margin-top: 10px;
  border-radius: 20px;
  border: 3px solid #dad3be;
  cursor: pointer;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.group-pfp {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 100%;
}
